<ion-header translate="true">
  <ion-toolbar color="tertiary">
    <ion-title mode="md">{{ title || "陽明醫工系考古系統"}}</ion-title>
   
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button fill="clear" shape="round" slot="end" size="large" (click)="onBtnUploadModalClick();" *ngIf="isMainPage">
        <ion-icon name="cloud-upload" slot="end"></ion-icon>
        上傳
      </ion-button>
      
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isMainPage">
      <ion-button (click)="onBtnUserPopoverClick($event)">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>



  </ion-toolbar>
</ion-header>
