

@media screen and (min-width: 991px) {
    .desktop-empty-title {
        display: block;
    }
    .mobile-empty-title {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .desktop-empty-title {
        display: none;
    }
    .mobile-empty-title {
        display: block;
    }
}

.pastexam-list-header {
    border-bottom: 3px solid var(--ion-color-primary);
    font-size: 25px;
    font-weight: bold;
}

.pastexam-list-item {
    border-bottom: 1px solid var(--ion-color-primary);
    font-size: 16px;
}

.operation-icon {
    cursor: pointer;
}