.pastexam-list-header {
    border-bottom: 3px solid var(--ion-color-primary);
    font-size: 25px;
    font-weight: bold;
}

.pastexam-list-item {
    border-bottom: 1px solid var(--ion-color-primary);
    font-size: 16px;
}