<ion-content>
  <ion-list>
    <ion-list-header *ngIf="user">{{ user.username }}</ion-list-header>
    <ion-item button *ngIf="user" (click)="navigateToUserFileList();" detail="false">
      個人上傳檔案列表<ion-icon name="file-tray-full-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item button *ngIf="user" (click)="logout();" detail="false">
      登出<ion-icon name="log-out-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item button lines="none" detail="false"  (click)="dismiss()">Close</ion-item>
  </ion-list>
</ion-content>
