

// .main-content {
//   margin-top: 30%;
// }

.side-nav {
  background-color: #57A6AA;
  height: 100%;
  overflow-x: hidden;
}

.ymbme-logo {
  background-image: url('../../assets/images/ymbme-logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin:auto;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.login-main-text {
  margin-top: 40%;
  padding: 60px;
  color: #fff;
}

// @media screen and (max-width:450px) {
//   .side-nav {
//     padding-top: 15px;
//   }
// }
@media screen  and (max-width: 768px) {
  .side-nav {
    height: auto;
  }
  .login-main-text { 
    margin-top: 10px;
    text-align: center;
  }
  .main-content {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main-content {
    padding-left: 40%;
    margin-top: 25%;
  }
  .side-nav{
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 55px;
  }
}

@media screen and (max-height: 600px){
  .main-content {
    margin-top: 15%;
  }
  .side-nav{ 
    margin-top: 0px;
  }
}

@media  (prefers-color-scheme: dark) {
  .ymbme-logo {
    background-color: white;
    border-radius: 50%;
  }
}