<app-top-bar></app-top-bar>

<ion-content [fullscreen]="true">

  <div class="side-nav">
    <div class="login-main-text">
      <h2>陽明醫工系考古題&筆記系統</h2>
      <p>共同分享，共同成長</p>
    </div>
  </div>

  <div class="main-content">
    <ion-grid fixed>

      <ion-row>
        <ion-col sizeLg="8" offsetLg="2" sizeMd="8" offsetMd="2" sizeSm="12">
          <div class="ymbme-logo"></div>
          <ion-button (click)="onGotoLoginClick()" expand="block" shape="round" color="tertiary">
            登入
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>


</ion-content>
